/*general*/
* {
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 60px;
    color: #333;
}

p {
    color: #666;
    font-size: 30px;
}

input {
    width: 300px;
}

select {
    margin-right: 20px;
    background-color: white;
    height: 25px;
    color: #666;
}

button {
    width: 100px;
    height: 30px;
    size: 20px;
    font-size: 13px;
    background: white;
    border: 0.5px solid #333;
    margin: 25px auto 20px auto;
}

button:hover {
    background: #333;
    color: white;
    cursor: pointer;
}

/*navbar*/
#nav-container {
  background: white;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
}

#spacer {
    visibility: hidden;
    flex-grow: 1;
}

#logo {

}

#logo img {
    width: 30%;
}

#nav {
    padding-right: 30px;
}

.navbar a {
    margin-left: 40px;
    text-decoration: none;
    color: #666;
    font-size: 20px;
}

.navbar a:hover {
    color: black;
}

/*home*/
#home-container {
/*    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 40px 0 150px 0;*/
}

#home-welcome {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), 
    url(https://wallpaperscraft.com/image/danboard_boxes_robot_mood_sparkler_sparks_48969_1920x1080.jpg);
    background-size: cover;
    background-position: center center;
    height: 800px;
    vertical-align: middle;
    text-align: center;
    line-height: 700px;
    font-family: 'Lato', sans-serif;
}

#home-welcome h1, h2 {
    color: white;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}


#info {
    background-color: #efefef;
    text-align: center;
    padding: 120px 80px;
}

#info h1 {
    margin: 0;
}

#info p {

}

#panel {
    padding: 0 60px;
    width: 30%;
    text-align: center;
    margin: 50px auto;
}

#githubimg {
    width: 200px;
    margin-bottom: 40px;
    text-align: center;
}

#footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #E0E0E0;
}

#footer a {
    font-weight: bold;
    text-decoration: none;
    color: blue;
}

#login-view {
    text-align: center;
}

#login-view a {
    text-decoration: none;
}

#login-view h1 {
    font-size: 30px;
}

#login-header h1 {
    display: inline-block;
}

#sign-up {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
  padding: 0px;
  text-decoration: none;
}


#sign-up:hover {
    cursor: pointer;
    text-shadow: none;
    color: #333;
}


#login-panel {
    border: 1px solid black;
    padding-bottom: 60px;
    width: 500px;
    margin: 0 auto 60px auto;
}

#login-field input {
    font-size: 20px;
    width: 196px;
    height: 30px;
    color: black;
    margin: 0;
}

#submit {
    width: 202px;
}

#profile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

#sidebar {
    padding: 30px 0;
    height: 100%;
}

#sidebar h3 {
    color: #666;
    margin: 0;
    padding: 20px 30px;
}

#sidebar h3:hover {
    cursor: pointer;
    color: black;
    background-color: #f6f6f6;
}

#viewer {
    padding: 0 0 200px 50px;
    flex-grow: 1;
    border-left: 1px solid #E0E0E0;
    background-color: #fdfdfd;
}

#create-table, #save-schema {
    margin-top: 30px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-right: 30px;
    color: white;
    background-color: #ffbb3f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
}

#create-table:hover, #save-schema:hover {
    color: white;
    background-color: orange;
}

.add-input, .delete-table {
    width: 40px;
    height: 40px;
    font-size: 23px;
    margin: 25px 20px 0px 0px;
    border: 1px solid #ffbb3f;
    border-radius: 50%;
    color: white;
    background-color: #ffbb3f; 
    font-weight: bolder;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
}

.add-input:hover, .delete-table:hover {
    color: white;
    background-color: orange;
}

 #sign-up-page-button {
    width: 100px;
    height: 30px;
    font-size: 13px;
    margin-top: 25px;
 }

.schema-form {
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    padding: 25px;
    width: 80%;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.input {
    margin: 20px 0;
    width: 95%;
    padding: 5px 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.input select {
    border: none;
    -webkit-appearance:none;
    font-size: 12px;
}

.schema-form input {
    width: 65%;
    border: none;
    margin: 0 20px;
    font-size: 18px;
    color: orange;
}

.form-header {
    font-weight: bold;
    font-size: 20px;
    color: #666;
}

.schema-input {
    height: 26px;
    border: none;
}

.delete-input {
    font-size: 16px;
    display: inline-block;
    margin: 0px;
}

.delete-input:hover {
    cursor: pointer;
    color: black;
    font-weight: bold;
}


.Dropdown-root:hover {
    cursor: pointer;
    display: inline;
}

.Dropdown-placeholder {
    border-bottom: 1px solid black;
    width: 50px;
    text-align: center;
}


#database-view button, input {
    width: 100px;
    height: 30px;
    font-size: 13px;
    margin-top: 25px;
}

.schema-type-input {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
    padding-left: 10px;
}

#database-information {
    border-bottom: 1px solid black;
    margin-top: 20px;
    width: 80%;
    text-align: center;
}

#database-information h3 {
    color: orange;
    size: 25px;
}













